#hero{
    background-image: url("../../images/image-hero-mobile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    padding-top: 15rem;
    height: 100%;
    width: 100%;
}

#main-nav{ 
    position: absolute;
    top:0;
    left: 0;

    display: flex; 
    justify-content: space-between;

    padding:2rem;
    width: 100%;
}

.link-container{
    display: none;
}

@media screen and (min-width:768px) {
    #hero{
        background-image: url("../../images/image-hero-desktop.jpg");
        background-size: cover 400px;
    }

    .mobile-icon{
        display:none;
    }

    .link-container{
        display: flex;
        justify-content: space-between;

        color: #fff;
        max-width: 500px;
        width: 40%;
    }
    
}