$mdCyan: hsl(176, 50%, 47%);
$dkCyan: hsl(176, 72%, 28%);
$dkGray: hsl(0, 0%, 48%);

.modal-background{
    position:absolute;
    top: 0;
    left: 0; 

    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

.modal{
    background-color: #fff;
    border-radius: 15px;
    padding: 3rem 1.5rem;
    margin: 10rem auto;
    max-width: 700px;
    width: 95%;

    p{
        margin: 1.5rem 0;
    }
}

.modal-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        cursor: pointer;
    }
}

.modal-radio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
    height: 25px;
    width: 25px;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: $mdCyan;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}
